@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import './variables';

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

.section {
    &.dark {
        background-color: lighten($black, 15%);; 
    }
    &.highlighed.dark {
        background-color: $black;
    }
    &.highlighed.light {
            background-color: $gray-200;
    }
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    @media screen and (min-width: 1200px) {
        max-width: 1400px;
    }
}