@import "./variables";

.embla {
    position: relative;

    .embla__viewport {
        overflow: hidden;

        .embla__container {
            display: flex;
            touch-action: pan-y pinch-zoom;
            margin-left: calc($slide-spacing * -1);

            .embla__slide {
                transform: translate3d(0, 0, 0);
                flex: 0 0 $slide-size;
                padding-left: $slide-spacing;

                .embla__slide__item {
                    font-size: 4rem;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: $slide-height-mobile;
                    user-select: none;
                    position: relative;
                    width: 100%;

                    .embla__slide__image {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }

                    .embla__slide__text {
                        position: absolute;
                        margin-top: 1rem;
                        text-align: center;
                        font-size: $font-size-3xl;
                        color: $gray-100;

                        .thin {
                            font-weight: $font-weight-xsmall;
                        }
                    }
                }
            }
        }
    }

    .embla__controls {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 1rem;

        .embla__dots {
            display: flex;
            justify-content: center;
            gap: 1.5rem;

            .embla__dot {
                -webkit-tap-highlight-color: rgba($gray-100, 0.5);
                -webkit-appearance: none;
                appearance: none;
                touch-action: manipulation;
                display: inline-flex;
                text-decoration: none;
                cursor: pointer;
                border: 0;
                padding: 0;
                margin: 0;
                width: 1rem;
                height: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                border-width: 1px;
                border-style: solid;
                background-color: transparent;
                border-color: $gray-100;
            }

            .embla__dot--selected {
                background-color: var(--primary-color);
                border-color: var(--primary-color);
            }
        }
    }

    @media screen and (min-width: 620px) {
        .embla__viewport {
            .embla__container .embla__slide {
                .embla__slide__item .embla__slide__text {
                    font-size: $font-size-4xl;
                }
            }
        }
    }

    @media screen and (min-width: 860px) {
        .embla__viewport {
            .embla__slide__text {
                width: 600px;
                top: 50px;
            }
        }
    }
}