$font-size: 16px;
$font-family: 'Roboto', sans-serif;

$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-base: 1rem;
$font-size-lg: 1.2rem;
$font-size-xl: 1.6rem;
$font-size-2xl: 2rem;
$font-size-3xl: 3rem;
$font-size-4xl: 4rem;

$font-weight-xsmall: 200; 
$font-weight-small: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$line-height-tight: 1.25;
$line-height-normal: 1.5;
$line-height-relaxed: 1.75;

$logo-w: 125px;
$logo-h: 45px;

$burger-menu-w: 40px;
$burger-menu-h: 5px;
$burger-menu-gap: 8px;

$slide-height-mobile: 500px;
$slide-spacing: 1rem;
$slide-size: 100%;

$primary-color-light: #D52228;
$primary-color-dark:  #FAA916;

$body-bg-light: #FFFFFF;
$body-bg-dark: #000000;
$body-bg-dark-lighten: lighten($body-bg-dark, 15%);

$text-dark: #000000;
$text-light:  #FFFFFF;

$gray-100: #F7F7F7;
$gray-200: #E0E0E0;
$gray-300: #D9DADF;
$gray-400: #B2B5B8;
$gray-500: #8E929B;
$gray-600: #303338;
$black: #000000;

