$font-size: 16px;
$font-family: 'Roboto', sans-serif;

$primary-color: #F00528;
$secondary-color: #FAA916;

$body-bg-light: #FFFFFF;
$body-bg-dark: #000000;

$black: #000000;

$gray-100: #F7F7F7;
$gray-200: #E0E0E0;
$gray-300: #D9DADF;
$gray-400: #B2B5B8;

$burger-menu-w: 40px;
$burger-menu-h: 5px;
$burger-menu-gap: 8px;


