@import "../../styles/variables";

.dropdown {
    position: relative;
    padding: 0 .25rem;
    top:0;
    bottom: 0;
    height: 100%;
    align-self: stretch;
    justify-self: stretch;
    
    &.dropdownSelected {
        .dropdownTitle {
            color: inherit;
            font-weight: bold;
        }
    }
}

.dropdownTitle {
    cursor: pointer;
    font-size: $font-size;
    font-weight: $font-weight-medium;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.dropdownLinks {
    min-width: 20vw;
    padding: 0.75rem 1.2rem;
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    left:0;

    @media screen and (min-width: 1440px) {
        min-width: 200px;
    }
}

.dropdownLink {
    cursor: pointer;
    color: inherit;
    padding: 1rem 0;
    transition: color 0.3s ease;

    &:not(:first-child) {
        border-top:  1px solid $gray-400;
    }

    &.linkSelected {
        font-weight: bold;
    }
}

.light {
    &.dropdown {
        .dropdownTitle {
            color: $gray-100;
        }

        &.dropdownSelected {
            background-color: $gray-200;
            .dropdownTitle {
                color: $primary-color;
            }
        }

        .dropdownLinks {
            background-color: $gray-200;
        }
    }

    .linkSelected {
        color: $primary-color;
    }
}

.dark {
    &.dropdown {
        .dropdownTitle {
            color: $black;
        }

        .dropdownLink {
            color: $gray-100;

            &.linkSelected {
                color: $secondary-color;
            }
        }

        &.dropdownSelected {
            background-color: $black;
            .dropdownTitle {
                color: $secondary-color;
            }

            .dropdownLinks {
                background-color: $black;
                color: $gray-100;
            }
        }
    }
}