@import "../../styles/variables";

.desktopNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    justify-self: stretch;
    flex: 1 1 100%;

    .rightSideNav,
    .leftSideNav {
        display: flex;
        align-items: center;
    }

    .leftSideNav {
        height: 100%;
    }

    .rightSideNav {
        .companyLink {
            padding: 0.1rem 0.5rem 0.2rem;
            border-right: 1px;
            border-right-style: solid;
            color: var(--text-primary);
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        .languageDropdown {
            display: flex;
            align-items: center;
            padding: 0.1rem 1rem;
            color: var(--text-primary);
            cursor: pointer;

            .language {
                padding: 0 .5rem;
            }

            .languageIcon {
                img {
                    width: 25px;
                    height: 50px;
                }
            }
        }
    }

    @media screen and (min-width: 1200px) {
        .leftSideNav {
            padding-left: 4rem;
        }
    }
}