@use "../../styles/variables" as *;

.desktopNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    justify-self: stretch;
    flex: 1 1 100%;

    .rightSideNav, .leftSideNav {
        display: flex;
        align-items: center;
        height: 100%;
    }

    .rightSideNav {
        .languageDropdown {
            display: flex;
            align-items: center;
            .languageIcon {
                img {
                    width: 25px;
                    height: 50px;

                }
            }
        }
    }
}