@import "../../styles/variables";

.dropdown {
    padding: 1rem 0;

    &.dropdownSelected {
        .dropdownTitle {
            color: inherit;
            font-weight: bold;
        }
    }

    &:not(:first-child) {
        border-top: 1px solid transparent;
    }
}

.dropdownTitle {
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 75vw;
}

.dropdownLinks {
    padding: 1rem 0 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dropdownLink {
    cursor: pointer;
    color: inherit;
    transition: color 0.3s ease;

    &.linkSelected {
        font-weight: bold;
    }
}

@media screen and (min-width: 860px) {
    
}

.light {
    &.dropdown {
        &:not(:first-child) {
            border-top: 1px solid $gray-400;
        }

        &.dropdownSelected {
            .dropdownTitle {
                color: $primary-color;
            }
        }
    }

    .linkSelected, &:hover {
        color: $primary-color;
    }
}

.dark {
    &.dropdown {
        &:not(:first-child) {
            border-top: 1px solid $gray-100;
        }

        .dropdownTitle,
        .dropdownLink {
            color: $gray-400;



            &.linkSelected, &:hover {
                color: $secondary-color;
            }
        }

        &.dropdownSelected {
            .dropdownTitle {
                color: $secondary-color;
            }
        }
    }

    .languageDropdown {
        span {
            color: $gray-200;
        }
    }
}