@import "../../styles/variables";

.mobileNav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: all ease-in-out 0.5s;
    padding-left: 16px;

    &.navOpen {
        background-color: var(--bg-color-highlighed);

        &::before {
            background-color: var(--bg-color-highlighed);
        }

        .burgerLine {
            background-color: var(--primary-color);
        }
    }

    &::before {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        z-index: 1;
        bottom: -2px;
        height: 2px;
        background-color: transparent;
        transition: all ease-in-out 0.5s;
    }

    .menu {
        visibility: hidden;
        position: absolute;
        top: calc(100% + 2px);
        max-height: 0;
        padding: 0;
        z-index: 10;
        transition: all ease-in-out 0.1s;
        opacity: 0;

        &.menuOpen {
            padding: 0.5rem 2rem;
            right: 0;
            opacity: 1;
            max-height: 750px;
            transition: all ease-in-out 0.5s;
            background-color: var(--bg-color-highlighed);
            visibility: visible;
        }

        .companyLink {
            cursor: pointer;
            display: block;
            padding-bottom: 1rem;
            color: var(--text-darken);

            &.firstLink {
                margin-top: 1.5rem;
            }
        
            &:hover {
                color: var(--primary-color);
            }
        }

        .navFooter {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: auto;
            margin-bottom: 1rem;
        }
    }
}

.burgerMenu {
    cursor: pointer;
    padding-right: 8px;

    .burgerLine {
        background-color: var(--bg-color-highlighed);
        position: relative;
        display: block;
        margin: $burger-menu-gap;
        width: $burger-menu-w;
        height: $burger-menu-h;
        transition: all ease-in-out 0.5s;
    }

    &.burgerMenuOpen {
        .burgerLine {
            &:nth-child(2) {
                opacity: 0;
            }

            &:first-child,
            &:last-child {
                transform-origin: left;
            }

            &:first-child {
                transform: rotate(40deg);
            }

            &:last-child {
                transform: rotate(-40deg);
            }
        }
    }
}