@import "../../styles/variables";

.header {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background-color: var(--primary-color);
    border-bottom-color: var(--border-color);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    .containerLogo {
        padding: .75rem .5rem .5rem 1rem;
        .logo {
            width: $logo-w;
            height: $logo-h;
        }
    }

    @media screen and (min-width: 1024px) {
        padding: 0 2.5%;
    }
}