@import '../../styles/variables';

.updatesPanelCard {
    padding: 2rem 0;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;

    &:first-child {
        padding-top: 0;
    }

    &:not(:first-child) {
        border-top-width: 1px;
        border-top-style: solid;
    }

    .cardHeader {
        display: flex;
        align-items: center;
        gap: .75rem;

        .cardTopic {
            font-weight: $font-weight-small;
            font-size: $font-size-xl;
        }
    }

    .cardBody {
        .cardImgBox {
            width: 100%;
            margin: 1rem 0 0.75rem;

            .cardImg {
                aspect-ratio: 1.6 / 1;
                width: 100%;
            }
        }

        .cardBodyHead {
            height: 110px;

            .cardTitle {
                font-weight: $font-weight-small;
                font-size: $font-size-lg;
            }

            .cardDate {
                margin: 0.25rem 0;
            }

            .cardLocation {
                margin: -0.25rem 0 .5rem;
                height: 1.25rem;
            }
        }

        .cardDescription {
            margin: auto 0 1.5rem;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            line-height: 1rem;
            height: calc(1rem * 3);
        }

        .cardBtn {
            width: 100%;
            padding: 1rem;
            text-align: center;
            border: none;
            cursor: pointer;
        }
    }

    @media screen and (min-width: 360px) {
        padding: 2rem 1rem;
        .cardBody {
            .cardBodyHead {
                height: 105px;
            }
        }
    }

    @media screen and (min-width: 400px) { 
        padding: 2rem;
    }

    @media screen and (min-width: 1024px) {
        max-width: 500px;
        padding: 2rem 0 4rem;

        &:first-child {
            padding-top: 2rem;
        }

        &:not(:first-child) {
            border-top: 0;

            .cardBody {
                border-left-width: 1px;
                border-left-style: solid;
            }
        }


        .cardHeader,
        .cardBody {
            padding: 0 2rem;
        }

        .cardHeader {
            padding-bottom: .25rem;
        }

        .cardBody {
            .cardBodyHead {
                .cardTitle {
                    font-size: 1.4rem;
                }
            }
        }
    }

    @media screen and (min-width: 1200px) {

        .cardHeader,
        .cardBody {
            padding: 0 3rem;
        }

        .cardHeader {
            padding-bottom: .5rem;
        }


        .cardBody {
            .cardBodyHead {
                .cardTitle {
                    font-size: 1.6rem;
                }
            }
        }
    }
}


.light {
    .cardHeader {
        svg {
            color: $primary-color;
        }
    }

    .cardBody {
        .cardTitle {
            color: $black;
        }
        .cardDate, .cardLocation {
            color: $gray-500;
        }
        .cardDescription {
            color: $gray-600;
        }
    }

    .cardBtn {
        background-color: $primary-color;
        color: $gray-100;

        &:hover {
            text-decoration: underline;
        }
    }
}

.dark {
    .cardHeader {
        .cardTopic {
            color: $gray-100;
        }

        svg {
            color: $secondary-color;
        }
    }

    .cardBody {
        border-color: $gray-100;

        .cardTitle {
            color: $gray-100;
        }

        color: $gray-400;
    }

    .cardBtn {
        background-color: $secondary-color;
        color: $gray-100;
    }
}