@import '../../styles/variables';

.updatesPanelCard {
    padding: 2rem 0;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;

    &:first-child {
        padding-top: 0;
    }

    &:not(:first-child) {
        border-top-width: 1px;
        border-top-style: solid;
    }

    .cardHeader {
        display: flex;
        align-items: center;
        gap: .75rem;
        color: var(--text-secondary);

        .icon {
            color: var(--primary-color);
        }

        .cardTopic {
            font-weight: $font-weight-small;
            font-size: $font-size-xl;
        }
    }

    .cardBody {
        border-color: $gray-400;
        
        .cardImgBox {
            width: 100%;
            margin: 1rem 0 0.75rem;

            .cardImg {
                aspect-ratio: 1.6 / 1;
                width: 100%;
            }
        }

        .cardBodyHead {
            height: 110px;

            .cardTitle {
                font-weight: $font-weight-small;
                font-size: $font-size-lg;
                color: var(--text-secondary);
            }

            .cardDate {
                margin: 0.25rem 0;
                color: $gray-500;
            }

            .cardLocation {
                margin: -0.25rem 0 .5rem;
                height: 1.25rem;
                color: $gray-500;
            }
        }

        .cardDescription {
            color: var(--text-tertiary);
            margin: auto 0 1.5rem;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            line-height: 1rem;
            height: calc(1rem * 3);
        }

        .cardBtn {
            background-color: var(--primary-color);
            color: var(--text-primary);
            width: 100%;
            padding: 1rem;
            text-align: center;
            border: none;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    @media screen and (min-width: 360px) {
        padding: 2rem 1rem;
        .cardBody {
            .cardBodyHead {
                height: 90px;
            }
        }
    }

    @media screen and (min-width: 400px) { 
        padding: 2rem;
    }

    @media screen and (min-width: 1024px) {
        max-width: 500px;
        padding: 2rem 0 4rem;

        &:first-child {
            padding-top: 2rem;
        }

        &:not(:first-child) {
            border-top: 0;

            .cardBody {
                border-left-width: 1px;
                border-left-style: solid;
            }
        }

        .cardHeader,
        .cardBody {
            padding: 0 2rem;
        }

        .cardHeader {
            padding-bottom: .25rem;
        }

        .cardBody {
            .cardBodyHead {
                height: 105px;
                .cardTitle {
                    font-size: 1.4rem;
                }
            }
        }
    }

    @media screen and (min-width: 1200px) {
        .cardHeader,
        .cardBody {
            padding: 0 3rem;
        }

        .cardHeader {
            padding-bottom: .5rem;
        }

        .cardBody {
            .cardBodyHead {
                .cardTitle {
                    font-size: 1.6rem;
                }
            }
        }
    }
}